services:
  minio:
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    container_name: petfinder-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - petfinder-minio-data:/data
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
      - MINIO_DEFAULT_BUCKETS=petfinder-images
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-I", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      retries: 5

  postgres-db:
    image: postgis/postgis:15-3.3-alpine
    container_name: petfinder-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=petFinder
    volumes:
      - petfinder-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d petFinder"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  app:
    build: .
    container_name: petfinder-app
    ports:
      - "8080:8080"
      - "5005:5005"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/petFinder
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=1
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
    command: >
      java 
      -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 
      -jar app.jar
    depends_on:
      postgres-db:
        condition: service_healthy
      minio:
        condition: service_healthy
      kafka:
        condition: service_healthy

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: petfinder-zookeeper
    hostname: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      KAFKA_HEAP_OPTS: "-Xms512m -Xmx512m"

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: petfinder-kafka
    hostname: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092,EXTERNAL://localhost:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xms1g -Xmx1g"
    healthcheck:
        test: [ "CMD-SHELL", "kafka-topics --bootstrap-server kafka:29092 --list" ]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 10s
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: petfinder-kafka-ui
    ports:
      - "8081:8080"
    restart: on-failure
    environment:
      KAFKA_CLUSTERS_0_NAME: 'petfinder_cluster'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:29092'
      KAFKA_CLUSTERS_0_ZOOKEEPER: 'zookeeper:2181'
    depends_on:
      - kafka
      - zookeeper

volumes:
    petfinder-db-data:
    petfinder-minio-data: